* {
  box-sizing: border-box;
}

.app {
  position: relative;
}

.app__wrapper {
  margin: auto;
  max-width: 600px;
}

.app__main {
  margin-top: 30px;
  padding: 20px;
  background-color: #eee;
  border-radius: 5px;
}

.error {
  color: crimson;
}
