.nav {
  position: relative;
  display: flex;
  flex-wrap: wrap;
}

.nav__link {
  margin: auto 10px;
  padding: 5px 10px;
  background-color: #008bce;
  color: white;
  border-radius: 4px;
  text-decoration: none;
}

.nav__link:first-child {
  margin-left: 0;
}

.nav__link:not([class$='--active']):hover {
  background-color: #18adf5;
}

.nav__link--active {
  background-color: #d08600;
}
