.login-form {
  position: relative;
  width: 200px;
  margin: auto;
}

.login-form__title {
  text-align: center;
}

.login-form__btn {
  width: 200px;
  margin: 5px 0;
  padding: 5px 30px 5px 10px;
  font-size: 18px;
}

.login-form__btn {
  display: block;
}
